$light-color: #f4f4f4;
$dark-color: #404040;
$font-stack: 'Roboto-light300';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $light-color;
    font-family: 'roboto', Helvetica, sans-serif;
    line-height: 1.6;
}

.menu-container {
    display: flex;
    
    background-color: $dark-color;
    padding: 20px;
    justify-content: space-between;
    
}
.menu {
    display: flex;
    
}
.about {
    margin-right: 50px;
    margin-top: 10px;
    color: $light-color;
}
.projects {
    margin-right: 50px;
    margin-top: 10px;
    color: $light-color;
}
.contacts {
    margin-right: 30px;
    margin-top: 10px;
    color: $light-color;
}
a:link {
    text-decoration: none;
    color: $light-color;
    font-size: 125%;
}
img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-left: 50px;
}
h1{
    margin-top: 200px;
    margin-left: 150px;
    font-weight: 300;
}
b {
    color:orange;
    font-weight: 700;
    
}
