/* Variables */
$light-color: #f4f4f4;
$dark-color: #404040;
$highlight-color: #FF7733;
$font-stack: 'Roboto';

/* Global */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $light-color;
    font-family: 'roboto', Helvetica, sans-serif;
    line-height: 1.6;
}
b {
    color: $highlight-color;
    font-weight: 700;
}
h2 {
    color: $highlight-color;
}
h3 {
    color: $highlight-color
}

/* Navigation */

.menu-container {
    display: flex;
    background-color: $dark-color;
    padding: 20px;
    justify-content: space-between;
}
.menu {
    display: flex;
}
.dropdown {
    display: none;
}

.about a {
    display: flex;
    padding: 10px 45px;
    color: $light-color;
    font-size: 120%;
    text-decoration: none;
}
.projects a {
    display: flex;
    padding: 10px 45px;
    color: $light-color;
    font-size: 120%;
    text-decoration: none;
}
.contacts a {
    display: flex;
    padding: 10px 30px;
    color: $light-color;
    font-size: 120%;
    text-decoration: none;
}

img {
    width: 50px;
    height: 50px;
    margin-left: 50px;
}

/* Content */

.content-container {
    display: flex;
    justify-content: space-between;
}
.header{
    margin-top: 150px;
    margin-left: 150px;
    font-weight: 300;
    width: 500px;
}
.player {
    margin-top: 40px;
    margin-right: 150px;
}
.player-small {
    display: none;
}
lottie-player {
    --lottie-player-seeker-thumb-color: transparent;
    --lottie-player-seeker-track-color: transparent;
    --lottie-player-toolbar-icon-color: transparent;
    --lottie-player-toolbar-icon-active-color: transparent;
    --lottie-player-toolbar-icon-hover-color: transparent;
}

/* About */

.about-container {
   margin-top: 100px;
   margin-left: 150px;
   width: 700px;
}
.about-container p {
    flex-wrap: nowrap;
}

/* projects */

.project-container {
    margin-top: 200px;
    margin-left: 150px;
 }

 /* Contact */

.contact-container {
    margin-top: 200px;
    margin-left: 150px;
}
.contact-form {
    border: 1px solid #d6d9dc;
    border-radius: 4px;
    width: 70%;
    padding: 50px;
    margin: 0 0 40px 0;
}
.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}
#full-name,
#email {
    background-color: #ffffff;
    border: 1px solid #d6d9dc;
    border-radius: 4px;
    width: 90%;
    padding: 10px;
    font-size: 14px;
}
.form-row label {
    margin-bottom: 15px;
}
.form-row textarea {
    font-family: $font-stack;
    font-size: 14px;
    border: 1px solid #d6d9dc;
    border-radius: 4px;
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
    width: 90%;
}
.form-row .instructions {
    color: #999999;
    font-size: 14px;
    margin-bottom: 30px;
}
.form-row button {
    font-size: 16px;
    color: $dark-color;
    background-color: $highlight-color;
    border: none;
    border-radius: 4px;
    padding: 10px 40px;
    cursor: pointer;
    width: 200px;
}
.form-row button:hover {
    background-color: #ff9758;
}
.form-row button:active {
    background-color: #c36b36;
}

/* Footer */

.footer-container {
    background-color: $dark-color;
}
.social-icon {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.social-icon img {
    width: 40px;
    height: 40px;
}
.contacts {
    display: flex;
    justify-content: center;
}
.light {
    width: 490px;
    justify-self: center;
    color: $light-color;
}
.copyright {
    display: flex;
    justify-content: center;
    color: $light-color;
}


/* Media Queries */

@media (max-width: 992px) {
    
    .content-container{
        display: flex;
        flex-wrap: wrap;
    }
    .player {
        margin-left: 150px;
    }
    .about-container {
        width: 500px;
    }
}  


@media (max-width: 768px) {
    
    .player {
        margin-left: 50px;
    }
    .about-container {
        margin-left: 75px;
    }
    .about-container {
        width: 400px;
    }
    .project-container {
        margin-left: 75px;
    }
    .contact-container {
        margin-left: 75px;
    }
      
}


@media (max-width: 576px) {
   
    img {
        margin-left: 15px;
    }
    .about a {
        padding: 10px 20px;
        font-size: 100%;
    }
    .projects a {
        padding: 10px 20px;
        font-size: 100%;
    }
    .contacts a {
        padding: 10px 20px;
        font-size: 100%;
    }
    .header {
        margin-left: 25px;
        margin-right: 10px;
    }
    .about-container{
        margin-left: 25px;
    }
    .project-container {
        margin-left: 25px;
    }
    .contact-container {
        margin-left: 25px;
    }
    .player {
        display: none;
    }
    .player-small {
        display: initial;
        padding: 20px 0 0 50px;
    }
    lottie-player {
        --lottie-player-seeker-thumb-color: transparent;
        --lottie-player-seeker-track-color: transparent;
        --lottie-player-toolbar-icon-color: transparent;
        --lottie-player-toolbar-icon-active-color: transparent;
        --lottie-player-toolbar-icon-hover-color: transparent;
    }
    .light {
        width: 300px;
    }
    .about-container {
        width: auto;
        margin-right: 25px;
    }
}
.thank-you-container {
    margin: 100px 0 0 50px;
}
.thank-you-container h1 {
    color: $highlight-color;
}
.thank-you-container p {
    font-size: 25;
}
.thank-you-footer {
    margin-top: 250px;
    background-color: $dark-color;
}
