/* Variables */
$light-color: #f4f4f4;
$dark-color: #404040;
$highlight-color: #FF7733;
$font-stack: 'Roboto';

/* Global */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $light-color;
    font-family: 'roboto', Helvetica, sans-serif;
    line-height: 1.6;
}

/* Navigation */

.menu-container {
    display: flex;
    background-color: $dark-color;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
}
.menu {
    display: flex;
    
}
.about a {
    display: flex;
    padding: 10px 45px;
    color: $light-color;
    font-size: 120%;
    text-decoration: none;
}
.projects a {
    display: flex;
    padding: 10px 45px;
    color: $light-color;
    font-size: 120%;
    text-decoration: none;
}
.contacts a {
    display: flex;
    padding: 10px 30px;
    color: $light-color;
    font-size: 120%;
    text-decoration: none;
}

img {
    width: 50px;
    height: 50px;
    margin-left: 50px;
}

/* Content */

.content-container {
    display: flex;
}
.header{
    margin-top: 150px;
    margin-left: 150px;
    font-weight: 300;
}
b {
    color: $highlight-color;
    font-weight: 700;
}
h3 {
    color: $highlight-color
}
.player {
    margin-top: 40px;
    margin-left: 150px;
}
lottie-player {
    --lottie-player-seeker-thumb-color: transparent;
    --lottie-player-seeker-track-color: transparent;
    --lottie-player-toolbar-icon-color: transparent;
    --lottie-player-toolbar-icon-active-color: transparent;
    --lottie-player-toolbar-icon-hover-color: transparent;
}

/* About */

.about-container {
   margin-top: 200px;
   margin-left: 150px;
}
.about-container p {
    flex-wrap: nowrap;
}

/* Footer */

.footer-container {
    background-color: $dark-color;
}
.social-icon {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.social-icon img {
    width: 40px;
    height: 40px;
}
.contacts {
    display: flex;
    justify-content: center;
}
h2 {
    color: $highlight-color;
}
.light {
    width: 490px;
    justify-self: center;
    color: $light-color;
}
.copyright {
    display: flex;
    justify-content: center;
    color: $light-color;
}


/* Media Queries */

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}


